ul#ulp li.lista img.descargar{
position:relative;
float:right;
cursor:pointer;
}
ul#ulp li.lista img.escuchar{
position:relative;
float:left;
cursor:pointer;
}
ul#ulp li.lista{
padding:0px;
background-color: rgba(000,000,000,0.6);
min-height: 0px;
border:0px;
overflow:hidden;
display:block;
}
ul#ulp li.lista span.nombre{
margin: 18px 0 0 14px;
float: left;
color: white;
text-shadow: 0 1px 4px #059BFF;
}